.mastfoot{
	bottom:0;
	width:90%;
    height:100px; 
}
h1{
	text-align: center;
}
.lead{
	text-align: right;
	margin-right: 100px;
}
h2{
	color:  #850f10;	
	margin-right: 200px;
}

img:hover { 
  outline: 1px solid red; 
} 
#myModal
{
	background-color: #000000;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
   background-color:  #000000;
   width: 75%;
   height: 75%;
}
.link{
	color: #850f10;
}
b{
color:#0066cc;
}
